{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}

    {% if request.error %}
        An error occurred: {{ request.error }}
    {% endif %}
    {% if request.user.is_authenticated %}

    {% trans 'Your username is' %} <b>{{ request.user.username }}</b>.
    {% if request.coins or request.last_page %}
        <div class="grid-container">
            {% for coin in request.coins %}
            <div class="card">
                <h3>{{ coin.name }}</h3>
                <p><strong>ID:</strong> {{ coin.id }}</p>
                <p><strong>Symbol:</strong> {{ coin.symbol }}</p>
                <a href="/coins/coin-details?coin_id={{coin.id}}">
                    Details
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="button-wrapper">
            <a href="/coins/all-coins?page_num={{request.page_number|add:-1}}" 
            class="{% if request.page_number <= 1 or request.last_page %}disabled{% endif %}">prev</a>
            {{ request.page_number }}
            <a href="/coins/all-coins?page_num={{request.page_number|add:1}}"
            class="{% if request.page_number <= 0 or request.last_page %}disabled{% endif %}">next</a>
        </div>
    {% else %}
        <div class="button-wrapper">
            <a href="/coins/all-coins">Load coins</a>
        </div>    
    {% endif %}
        
    {% else %}

        {% trans 'You are a guest.' %}

    {% endif %}

{% endblock %}
